.container-controls {
  margin-top: 40px;
  margin-left: 40px;
  display: grid;
  grid-auto-rows: 3rem;
  align-items: start;
}

.control {
  display: grid;
  margin: 0px;
  width: 250px;
  height: 3rem;
  cursor: pointer;
  background-color: rgb(211, 192, 167);
  border: 1px solid black;
  align-content: center;
  justify-content: center;
  font-weight: bold;
}

.control:hover {
  background-color: chocolate;
}

.control.head {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.control.foot {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
