.header {
    display: flex;
    flex-flow: row nowrap;
    min-height: 1.5rem;
    justify-items: start;
    align-items: center;
    padding: 5px;
    border: 1px solid black;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-weight: bold;
    background-color: rgb(68, 182, 142);
    cursor: auto;
  }

  .itemFirstName,
.itemLastName,
.itemAddress,
.itemBirthdate,
.itemActions {
  justify-self: start;
  align-self: center;
}

.itemFirstName {
  flex: 0 0 100px;
}

.itemLastName {
  flex: 0 0 150px;
}

.itemAddress {
  flex: 1 1 300px;
}

.itemBirthdate {
  flex: 0 0 150px;
}

.itemAction {
  flex: 0 0 70px;
}

.header .itemFirstName,
.header .itemLastName,
.header .itemAddress,
.header .itemBirthdate {
  cursor: pointer;
}

.header .itemFirstName:hover,
.header .itemLastName:hover,
.header .itemAddress:hover,
.header .itemBirthdate:hover {
  color: brown;
}

.iconEdit,
.iconDelete {
  margin: 0 7px;
}

.iconEdit:hover,
.iconDelete:hover {
  cursor: pointer;
  transform: scale(1.3);
  transition: transform 0.3s;
}

.iconEdit:hover {
  color: blue;
}

.iconDelete:hover {
  color: red;
}

.iconSmall {
    font-size: small;
}